/*menu*/
*{
  margin: 0px;
}

a {
  font-weight: bold;
  text-align: center;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4b98a0; /*color del menu*/
  padding: 13px 30px;
  font-family: Corsiva;
  margin: 0px;
}

.logo-img {
  max-height: 55px ;
}


.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  color:#000000;
  text-decoration: none;
  margin: 0 9px;
  font-size: 1.4em;
  transition: color 0.3s;
}

.nav-item:hover {
  color: #f9f8f3;  
}


/*Producto*/
.prod{
  
  border-radius: 10px;
  color: black;
  padding: 100px;
  font-family: Corsiva;
  text-align: center;
  justify-content: space-between;
  display: flex;
}
.pro a{
  padding: 5px;
  text-decoration: none;
  display: flex;
  color: black;

}

h3{
 padding: 10px;
 text-align: center;
}
h4{
 padding: 5px;
 text-align: center;
}
button{
  background-color: #f2e0d2;
  color: black;
  font-family: cursive;
}
img{
  border-color: #9e182b;
}
p{
  font-size: 20px;
  margin: 20px;
  text-align: center;
}

.cora {
  width: 25px;
}
/*informacion*/
.texto{
  border: solid 3px;
  border-color: black;
  border-radius: 10px;
  color: black;
  margin: 0px;
  text-decoration: nones;
  font-family: cursive;
  text-align: justify;
 background-color:  #4b98a0;
 display: flex;
}
.text a{
  padding: 5px;
  text-decoration: none;
  display: flex;
  color: black;

}
.texto img{
  max-height: 35px ;
   padding: 10px;

}
